<% include components/header.html %>
<body>
	<div class="page-about" id="app">
        <script>var currentPage = 2</script>
    	<% include components/nav.html %>

        <div class="title">
            <img src="../img/about/logo.png" alt="logo">
            Beijing Yunwai Automobile Technology Co., Ltd.
        </div>
        <div class="article">
            <p>Beijing Yunwai Automobile Technology Co., Ltd. is a specialized high-tech enterprise that develops, manufactures and sells micro-electric vehicle. The company also provides technical and after-sales service, and has a professional marketing team with strong resources in domestic and international markets.</p>
            <p>Yunwai is the National High Technology Enterprise in China with strong research capabilities and 70 patents of Micro-Electric Vehicle. The company has stamping workshop, welding workshop, painting workshop, assembly workshop, that the four workshops of car production. The company also has a vehicle trial test base and a production base with 100000 annual output of Micro-Electric Vehicle.</p>
            <p>The target markets of Yunwai are underdeveloped regions as Southeast Asia, Africa and Latin America. At this stage, our products have been exported to the United States, Vietnam, Thailand, Cambodia and other countries.</p>
        </div>
        <div class="map">
            <img src="../img/about/map.png" alt="map">
        </div>
	</div>

</body>
</html>
