<% include components/header.html %>
<body>

	<script>var currentPage = 3</script>
	<% include components/nav.html %>

	<div class="page-product" id="app">

		<div class="banner">
			<img src="../img/c02/banner.png" alt="banner" class="fullScreen">
			<p>Luxury Interior<br>Fast Charge</p>
		</div>


        <div class="main">
            <h4 class="common-title">Choose Your Color</h4>
			<div class="introduction">
				<ul class="clearfix">
	                <li>
	                    <img src="../img/c02/color1.png" alt="color">
	                    <p>Polar<br>White</p>
	                </li>
	                <li></li>
	                <li>
	                    <img src="../img/c02/color2.png" alt="color">
	                    <p>Cosmic<br>Silver</p>
	                </li>
	                <li>
	                    <img src="../img/c02/color3.png" alt="color">
	                    <p>Dream<br>Blue</p>
	                </li>
	                <li>
	                    <img src="../img/c02/color4.png" alt="color">
	                    <p>Crescent<br>Yellow</p>
	                </li>
	                <li>
	                    <img src="../img/c02/color5.png" alt="color">
	                    <p>Flame<br>Red</p>
	                </li>
	                <li>
	                    <img src="../img/c02/color6.png" alt="color">
	                    <p>Midnight<br>Black</p>
	                </li>
	                <li>
	                    <img src="../img/c02/color7.png" alt="color">
	                    <p>Champagne<br>Gold</p>
	                </li>
	            </ul>
	            <img class="car" src="../img/c02/car.png" alt="c02">
			</div>
			<h4 class="common-title">Product Details</h4>
			<ul class="parts clearfix">
				<li>
					<img src="../img/c02/part1.png" alt="part1">
					<p>Exceptional Climbing Ability</p>
				</li>
				<li>
					<img src="../img/c02/part2.png" alt="part2">
					<p>Luxuary Interior</p>
				</li>
				<li>
					<img src="../img/c02/part3.png" alt="part3">
					<p>Quick Charge</p>
				</li>
			</ul>
			<h4 class="common-title last-title">Product Details</h4>
			<img src="../img/c02/config.png" alt="" class="fullScreen">
        </div>
	</div>

</body>
</html>
