<% include components/header.html %>
<body>

	<script>var currentPage = 4</script>
	<% include components/nav.html %>

	<div class="page-product c03" id="app">

		<div class="banner">
			<img src="../img/c03/banner.png" alt="banner" class="fullScreen">
			<p>Long Mile Range<br>Light Weight Design</p>
		</div>


        <div class="main">
            <h4 class="common-title">Choose Your Color</h4>
			<div class="introduction">
				<ul class="clearfix">
	                <li>
	                    <img src="../img/c03/color1.png" alt="color">
	                    <p>Polar<br>White</p>
	                </li>
	                <li>
	                    <img src="../img/c03/color2.png" alt="color">
	                    <p>Cosmic<br>Silver</p>
	                </li>
	                <li>
	                    <img src="../img/c03/color3.png" alt="color">
	                    <p>Dream<br>Blue</p>
	                </li>
	                <li>
	                    <img src="../img/c03/color4.png" alt="color">
	                    <p>Crescent<br>Yellow</p>
	                </li>
	                <li>
	                    <img src="../img/c03/color5.png" alt="color">
	                    <p>Flame<br>Red</p>
	                </li>
	                <li>
	                    <img src="../img/c03/color6.png" alt="color">
	                    <p>Midnight<br>Black</p>
	                </li>
	            </ul>
	            <img class="car" src="../img/c03/car.png" alt="c03">
			</div>
			<h4 class="common-title">Product Details</h4>
			<ul class="parts clearfix">
				<li>
					<img src="../img/c03/part1.png" alt="part1">
					<p>Fashion Design</p>
				</li>
				<li>
					<img src="../img/c03/part2.png" alt="part2">
					<p>Comfort Zone</p>
				</li>
				<li>
					<img src="../img/c03/part3.png" alt="part3">
					<p>Integrated LED Lamps</p>
				</li>
			</ul>
			<h4 class="common-title last-title">Product Details</h4>
			<img src="../img/c03/config.png" alt="" class="fullScreen">
        </div>
	</div>

</body>
</html>
