<% include components/header.html %>
<body>
	<div class="page-contact" id="app">
        <script>var currentPage = 7</script>
    	<% include components/nav.html %>
        <div class="main">
            <img src="../img/contact/logo-red.png" alt="">
            <p>Beijing Yunwai Automobile Technology Co., Ltd.</p>
            <h4>Contact Us</h4>
            <ul class="list clearfix">
                <li>
                    <img src="../img/contact/icon1.png" alt="">
                    <h5>Tel</h5>
                    <p>010-57196808</p>
                </li>
                <li>
                    <img src="../img/contact/icon2.png" alt="">
                    <h5>Email:</h5>
                    <p>dxh@yunwai.tech</p>
                </li>
                <li>
                    <img src="../img/contact/icon3.png" alt="">
                    <h5>Web:</h5>
                    <p>http://www.yunwai.tech</p>
                </li>
                <li>
                    <img src="../img/contact/icon4.png" alt="">
                    <h5>Add:</h5>
                    <p>30117, Floor 1, Galaxy SOHO, Dongcheng District, Beijing, China</p>
                </li>
            </ul>
        </div>
	</div>

</body>
</html>
