<% include components/header.html %>
<body>

	<script>var currentPage = 5</script>
	<% include components/nav.html %>

	<div class="page-factory" id="app">

        <img src="https://s.chehejia.com/www/img/index/index5-big-10-20.jpg?x-oss-process=image/format,jpg/interlace,1" alt="banner" class="fullScreen">

		<div class="common-section">
			<img class="fullScreen" src="https://s.chehejia.com/www/img/index/index7-big-10-20.jpg?x-oss-process=image/format,jpg/interlace,1" alt="">
			<h3>云动力智能汽车制造基地</h3>
			<p>第一基地与第二基地总占地面积100万平方米，设计产能30万辆。
				<br>拥有领先的冲压、焊接、涂装和总装四大工艺，将实现高度自动化、高品质与节能环保的生产制造。
			</p>
		</div>

		<div class="swiper-container swiper-container-horizontal">
	        <div class="swiper-wrapper">
	            <div class="swiper-slide"><img src="https://s.chehejia.com/www/img/index/index6-big-10-20.jpg?x-oss-process=image/format,jpg/interlace,1" alt=""></div>
	            <div class="swiper-slide"><img src="https://s.chehejia.com/www/img/index/index6-big-10-20.jpg?x-oss-process=image/format,jpg/interlace,1" alt=""></div>
	        </div>
	        <!-- Add Pagination -->
	        <div class="swiper-pagination"></div>
	        <!-- Add Arrows -->
	        <div class="swiper-button-next"></div>
	        <div class="swiper-button-prev"></div>
	    </div>

	</div>

    <% include components/footer.html %>
	<script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.min.js"></script>
	<script>
	    var swiper = new Swiper('.swiper-container', {
	        pagination: '.swiper-pagination',
	        paginationClickable: '.swiper-pagination',
	        nextButton: '.swiper-button-next',
	        prevButton: '.swiper-button-prev',
	        spaceBetween: 30,
			loop: true
	    });
    </script>
</body>
</html>
