<% include components/header.html %>
<body>
	<script>var currentClassName = 'nav-factory'</script>
	<% include components/nav.html %>

	<div class="page-factory" id="app">

		<div class="common-section">
			<img src="../img/factory/banner1.jpg" class="fullScreen" alt="">
			<h3>Yunwai Micro Electric Vehicle Manufacturing Base</h3>
			<p>Yunwai Micro Electric Vehicle Manufacturing Base has 100,000 units capacity with industry leading manufacturing capability of stamping, welding, painting and assembly.<br>High automation, high quality and environmental friendly.</p>
		</div>

		<img src="../img/factory/banner2.jpg" class="fullScreen" alt="">
		<img src="../img/factory/banner3.jpg" class="fullScreen" alt="">
		<img src="../img/factory/banner4.jpg" class="fullScreen" alt="">

	</div>

	<% include components/footer.html %>

</body>
</html>
