<% include components/header.html %>
<body>
	<script>var currentClassName = 'nav-home'</script>
	<% include components/nav.html %>

	<div class="page-home" id="app">

		<div class="first-img">
			<img src="../img/home/banner1.png" alt="" class="fullScreen">
			<div class="desc clearfix">
				<div class="fl">Yunwai</div>
				<div class="fr">
					<div class="desc1">Zero Emission</div>
					<div class="desc2">Professional Design</div>
				</div>
			</div>
		</div>
		<div class="section1">
			<img src="../img/home/banner2.jpg" alt="" class="fullScreen">
			<div class="center-container">Best choice for driving within a 50km life radius,<br>meets 80% needs in urban mobility.</div>
		</div>

		<ul class="section2">

			<li class="img-text-layout clearfix">
				<img src="../img/home/pic1.png" alt="" class="img-text fl">
				<div class="cont fr">
					<div class="center">
						<div class="title">
							<img src="../img/home/icon1.png" alt="icon">
							<h4>Live green, drive green</h4>
						</div>
						<div class="text">All-electric, local emission-free, and with dynamic <br>acceleration.</div>
					</div>
				</div>
			</li>

			<li class="img-text-layout clearfix img-right-layout">
				<img src="../img/home/pic2.png" alt="" class="img-text fr">
				<div class="cont fr">
					<div class="title" style="margin-top: 1.6rem;">
						<img src="../img/home/icon1.png" alt="icon">
						<h4>Low cost, save your money</h4>
					</div>
					<div class="text">Low purchase cost with extremely low driving cost per mile.<br>Only cost 5.54 kWh/100 km.</div>
				</div>
			</li>

			<li class="img-text-layout clearfix">
				<img src="../img/home/pic3.png" alt="" class="img-text fl">
				<div class="cont fr">
					<div class="title" style="margin-top: 1.6rem;">
						<img src="../img/home/icon3.png" alt="icon">
						<h4>The perfect city car</h4>
					</div>
					<div class="text">With the perfect drive for the city: easy to use, easy to <br>park and with unique driving enjoyment and sufficient <br>range for all your daily trips.
					</div>
				</div>
			</li>

			<li class="img-text-layout clearfix img-right-layout">
				<img src="../img/home/pic4.png" alt="" class="img-text fr">
				<div class="cont fr">
					<div class="title" style="margin-top: 1.52rem;">
						<img src="../img/home/icon4.png" alt="icon">
						<h4>Easy to charge</h4>
					</div>
					<div class="text">You can charge your vehicle almost everywhere.<br>No special charging station required.<br>Fully charging the vehicle in 8 hours with a range of up to 150 km.</div>
				</div>
			</li>

		</ul>

		<div class="common-section">
			<img class="fullScreen" src="../img/home/banner3.jpg" alt="">
			<h3>Yunwai Research Center</h3>
			<p>
				Yunwai is the National High Technology Enterprise in China with 6 core technologies and 70 patents of Micro-<br>Electric Vehicle. Independent research and development through the entire process of modeling design, <br>engineering design, engineering trial and engineering test.
			</p>
		</div>
		<div class="common-section">
			<img class="fullScreen" src="../img/home/banner4.jpg" alt="">
			<h3>Yunwai Micro Electric Vehicle Manufacturing Base</h3>
			<p>Yunwai Micro Electric Vehicle Manufacturing Base has 100,000 units capacity with industry leading <br>manufacturing capability of stamping, welding, painting and assembly.<br>High automation, high quality and environmental friendly.</p>
		</div>



	</div>
	<% include components/footer.html %>
</body>
</html>
