<% include components/header.html %>
<body>

	<script>var currentPage = 1</script>
	<% include components/nav.html %>

	<div class="page-home" id="app">

		<div class="first-img">
			<img src="../img/home/banner1.png" alt="" class="fullScreen">
			<div class="desc clearfix">
				<div class="fl">Yunwai</div>
				<div class="fr">
					<div class="desc1">Zero Emission</div>
					<div class="desc2">Professional Design</div>
				</div>
			</div>
		</div>
		<div class="section1">
			<img src="../img/home/banner2.jpg" alt="" class="fullScreen">
			<div class="center-container">50km生活半径，出行最优选择。</div>
		</div>

		<ul class="section2">

			<li class="img-text-layout clearfix">
				<img src="../img/home/pic1.png" alt="" class="img-text fl">
				<div class="cont fr">
					<div class="center">
						<div class="title">
							<img src="../img/home/icon1.png" alt="icon">
							<h4>低排放，占地小</h4>
						</div>
						<div class="text">和汽车相比
							<br>生产和使⽤节能环保
							<br>节约道路资源，低碳绿色出行
							<br>从矿井到车轮的排放是k-car的1/3，
							<br>是传统车的1/10，占地⾯面积是传统车的1/3。
						</div>
					</div>
				</div>
			</li>

			<li class="img-text-layout clearfix img-right-layout">
				<img src="../img/home/pic2.png" alt="" class="img-text fr">
				<div class="cont fr">
					<div class="title" style="margin-top: 1.6rem;">
						<img src="../img/home/icon1.png" alt="icon">
						<h4>低能耗，低成本</h4>
					</div>
					<div class="text">和电动车相比
						<br>能耗、购⻋成本碳排放减少1/3
						<br>充电方便，无需电网升级
					</div>
				</div>
			</li>

			<li class="img-text-layout clearfix">
				<img src="../img/home/pic3.png" alt="" class="img-text fl">
				<div class="cont fr">
					<div class="title" style="margin-top: 1.6rem;">
						<img src="../img/home/icon3.png" alt="icon">
						<h4>乘坐舒适，安全便利</h4>
					</div>
					<div class="text">和摩托车相比
						<br>舒适性、安全性、便利和效率大幅提升。
						<br>载客能力提升3-5倍。
					</div>
				</div>
			</li>

			<li class="img-text-layout clearfix img-right-layout">
				<img src="../img/home/pic4.png" alt="" class="img-text fr">
				<div class="cont fr">
					<div class="title" style="margin-top: 1.52rem;">
						<img src="../img/home/icon4.png" alt="icon">
						<h4>充电短，里程长</h4>
					</div>
					<div class="text">和微电车相比
						<br>充电更短（6个小时），里程更远150km）
						<br>性价比行业标杆20%以上
						<br>价格3-5万，关键部件500ppm以下，98%以上良品率
					</div>
				</div>
			</li>

		</ul>

		<div class="common-section">
			<img class="fullScreen" src="https://s.chehejia.com/www/img/index/index7-big-10-20.jpg?x-oss-process=image/format,jpg/interlace,1" alt="">
			<h3>云外研发中心</h3>
			<p>第一基地与第二基地总占地面积100万平方米，设计产能30万辆。
				<br>拥有领先的冲压、焊接、涂装和总装四大工艺，将实现高度自动化、高品质与节能环保的生产制造。
			</p>
		</div>
		<div class="common-section">
			<img class="fullScreen" src="https://s.chehejia.com/www/img/index/index7-big-10-20.jpg?x-oss-process=image/format,jpg/interlace,1" alt="">
			<h3>云动力智能汽车制造基地</h3>
			<p>第一基地与第二基地总占地面积100万平方米，设计产能30万辆。
				<br>拥有领先的冲压、焊接、涂装和总装四大工艺，将实现高度自动化、高品质与节能环保的生产制造。
			</p>
		</div>



	</div>
	<% include components/footer.html %>
</body>
</html>
