<% include components/header.html %>
<body>
	<script>var currentClassName = 'nav-technology'</script>
	<% include components/nav.html %>

	<div class="page-technology" id="app">

		<img src="../img/technology/banner.jpg" class="fullScreen" alt="">

		<div class="main">
			<h4 class="common-title">Core Patents</h4>
			<ul>
				<li class="left">
					<img src="../img/technology/part1.png" alt="part">
					<h5>Powertrain</h5>
					<p>Motor efficiency is 96%</p>
					<p>Reduce weight by 50%</p>
					<p>Failure rate is lower than 60 PPM (Parts Per Million)</p>
				</li>
				<li class="right">
					<img src="../img/technology/part2.png" alt="part">
					<h5>Transmission</h5>
					<p>Transmission efficiency is 98%</p>
					<p>Noise is lower than 72dB</p>
					<p>Designed to last 300000km</p>
				</li>
				<li class="left">
					<img src="../img/technology/part3.png" alt="part">
					<h5>Electrical Control</h5>
					<p>100N·m max torque, strong power output</p>
					<p>Effectively reduce electricity consumption</p>
				</li>
				<li class="right">
					<img src="../img/technology/part4.png" alt="part">
					<h5>Lightweight Autobody</h5>
					<p>Lost 15% of weight and increase strength</p>
					<p>30% main performance boost (range and climbing capacity)</p>
					<p>Pass the crash test</p>
				</li>
				<li class="left">
					<img src="../img/technology/part5.png" alt="part">
					<h5>Trailing Arm Independent Suspension</h5>
					<p>Use new materials and new structures</p>
					<p>Greatly improve the comfort</p>
					<p>Lightweight design reduces weight by 12kg</p>
				</li>
				<li class="right">
					<img src="../img/technology/part6.png" alt="part">
					<h5>Five Link Suspension</h5>
					<p>Optimized efficiency of power system</p>
					<p>Great carrying capacity</p>
				</li>
			</ul>
		</div>

		<div class="photos">
			<img src="../img/technology/photos.png" alt="" class="fullScreen">
			<div class="mask1">
				<span>High-Strength<br>Autobody</span>
			</div>
			<div class="mask2">
				<span>High Quality Interior</span>
			</div>
			<div class="mask3">
				<span>Quick Charge</span>
			</div>
			<div class="mask4">
				<span>Integrated Motor Rear-Drive<br>Rear Suspension</span>
			</div>
		</div>
	</div>

	<% include components/footer.html %>
</body>
</html>
