/* reset */
html, body, h1, h2, h3, h4, h5, p,nav,menu, figure, figcaption, ul, ol, li{margin:0;padding:0; font-size: 16px; font-weight: 400}
body,select,textarea,input{ font:16px/1.5 "Microsoft YaHei",Arial; }
body,a{color: #fff;}
ol, ul{list-style: none}
var, em, i{ font-style:normal;}
a {-webkit-tap-highlight-color: transparent;}
a img{ border:0 none;}
a:link,a:visited{text-decoration: none}
img { max-width: 100%; vertical-align: top; }
select,textarea,input[type="submit"],input[type="button"]{-webkit-appearance: none;-webkit-border-image: none; border-image: none; -webkit-border-radius: 0; border-radius: 0; border:0 none;}
input {border: 0; outline: 0;}
.clearfix:after {content:"."; display: block; visibility: hidden; clear: both; height:0; font-size:0}
.clearfix {*zoom:1}
/* index */
img,a {
	display: block;
}
body {
	background: black;
}
.logo {
	width: 100%;
}

.scroller-container .mark {
	overflow: hidden;
}
.scroller-container .mark img {
	width: 4.98rem;
	margin-top: .28rem;
	margin-left: .65rem;
}
.scroller-container .float-wraper {
	padding: 1.18rem .58rem 0;
}
.scroller-container .float-wraper img {
	float: left;
	width: 9.15rem;
	margin-bottom: 3.13rem;
	margin-top: .37rem;
}
.scroller-container .float-wraper .chinese {
	float: left;
	width: 4rem;
	margin: 0 .35rem 0 .44rem;
}
.chinese .title {
	font-size: .28rem;
	text-align: center;
	line-height: 1.1em;
	margin-bottom: .2rem;
}
.chinese p {
	font-size: .24rem;
	line-height: 1.4em;
}
.scroller-container .float-wraper .english {
	float: left;
	width: 3.9rem;
	font-size: .24rem;
	word-break: keep-all;
}
#header .mark img {
	margin-top: 1.19rem;
}
#header >img {
	width: 12.77rem;
	margin: 1.6rem auto 3.76rem;
}
/* 联系我们 */
#contact {
	background: url(./imgs/bgImg.png) center;
	background-size: 100% 100%;
	padding-bottom: 3.79rem;
}
#contact .mark img {
	margin-top: .46rem;
}
#contact .content-wraper {
	margin: 2.65rem 3rem 0;
}
#contact .content-wraper .content {
	float: left;
	width: 6.16rem;
}
#contact .content-wraper .content .logo {
	width: 1.62rem;
	margin: .82rem auto .35rem;
}
#contact .content-wraper .content p {
	text-align: center;
	line-height: .8rem;
	font-size: .4rem;
}
#contact .content-wraper .qrcode {
	float: right;
	width: 4.75rem;
}

/* 产品 */
#product .container {
	margin: 0 auto 2rem;
	min-height: 4rem;
}
/* 新闻 */
#news .container {
	margin: 0 auto 2rem;
}