.vue_user img {
  display: block; }

.vue_user #userHeader {
  border-bottom: 0; }

.vue_user .userHeader {
  box-sizing: border-box;
  padding-top: 0.4rem;
  width: 100%;
  position: fixed;
  top: 0; }
  .vue_user .userHeader img {
    margin: 0 auto 0.15rem;
    width: 0.8rem;
    height: 0.8rem; }
  .vue_user .userHeader .userNameUnSingUp {
    line-height: 0.22rem;
    margin: 0 auto 0.3rem;
    font-size: 0.16rem;
    color: #333;
    text-align: center; }
  .vue_user .userHeader .userName {
    line-height: 0.22rem;
    margin: 0 auto 0.3rem;
    font-size: 0;
    color: #333;
    text-align: center; }
    .vue_user .userHeader .userName div {
      font-size: 0.16rem;
      display: inline-block;
      position: relative;
      left: 0.16rem; }
    .vue_user .userHeader .userName img {
      width: 0.2rem;
      height: 0.2rem;
      display: inline-block;
      margin-left: 0.12rem;
      margin-bottom: 0;
      position: relative;
      left: 0.16rem;
      top: 0.04rem; }

.vue_user .myClass {
  margin: 0.15rem 0;
  line-height: 0.21rem;
  text-indent: 0.23rem;
  font-size: 0.15rem;
  color: #333;
  position: fixed;
  top: 1.88rem; }

.vue_user .myClass::before {
  content: "";
  position: absolute;
  left: 0.15rem;
  top: 0.02rem;
  width: 0.02rem;
  height: 0.17rem;
  background: brown;
  border-radius: 0.02rem; }

.vue_user .classList {
  padding-left: 0.15rem;
  padding-top: 2.4rem; }
  .vue_user .classList .cont {
    margin-right: 0.2rem;
    width: 2.34rem;
    height: 2.26rem;
    border-radius: 0.04rem;
    background: #FFFFFF;
    border: 0.5px solid #ECECEC;
    box-shadow: 0 2px 4px 0 rgba(213, 200, 183, 0.5);
    position: relative;
    float: left; }
    .vue_user .classList .cont .banner {
      width: 100%;
      height: 1.26rem;
      border-top-left-radius: 0.04rem;
      border-top-right-radius: 0.04rem; }
    .vue_user .classList .cont .status {
      position: absolute;
      left: 0;
      top: 0.12rem;
      width: 0.64rem;
      height: 0.25rem; }
    .vue_user .classList .cont div {
      text-align: center; }
    .vue_user .classList .cont .className {
      line-height: 0.17rem;
      font-size: 0.14rem;
      color: brown;
      margin-top: 0.15rem; }
    .vue_user .classList .cont .classTime {
      line-height: 0.14rem;
      font-size: 0.12rem;
      color: #999;
      margin-top: 0.08rem; }
    .vue_user .classList .cont .line {
      width: 1.6rem;
      height: 0.01rem;
      margin: 0.08rem auto 0;
      background: #d8d8d8; }
    .vue_user .classList .cont .schoolName {
      line-height: 0.16rem;
      font-size: 0.13rem;
      color: #333;
      margin-top: 0.05rem; }

.vue_user .logout {
  width: 3.35rem;
  margin: 2rem auto 0;
  border-radius: 0.04rem;
  color: #fff;
  background: #bd8747;
  font-size: 0.15rem;
  text-align: center;
  line-height: 0.44rem; }
