/* reset */

body,
button,
dd,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
}

body {
  font: 14px/1.5 HYQiHei45, Arial, "Microsoft YaHei", "宋体", tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  height: 100%;
}

button,
input,
select {
  vertical-align: middle;
  font-size: 100%;
}

ol,
ul {
  list-style: none;
}

fieldset,
img {
  border: 0;
}

em {
  font-style: normal;
}

.clearfix:after {
  content: ".";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  font-size: 0;
}

.clearfix {
  *zoom: 1;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.fullScreen {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

.nav {
  background: #333333;
  height: .6rem;
}

.nav > div {
  width: 12rem;
  margin: 0 auto;
}

.nav > div a {
  float: left;
  margin: 0 .36rem;
  display: block;
  position: relative;
}

.nav > div a i {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: .04rem;
  background: #EFB336;
  display: none;
}

.nav > div a:hover i {
  display: block;
}

.nav > div .active i {
  display: block !important;
}

.nav > div .logo img {
  display: block;
  margin-top: .13rem;
  width: .8rem;
}

.nav > div .page {
  font-size: .2rem;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: .6rem;
}

.footer {
  background: rgba(51, 51, 51, 0.9);
  padding: 1rem 0 1.53rem;
}

.footer .logo {
  width: 1.19rem;
  display: block;
  margin: 0 auto;
}

.footer .name {
  font-size: .3rem;
  line-height: .36rem;
  color: #FFFFFF;
  text-align: center;
  margin-top: .16rem;
}

.footer .cont {
  width: 6.33rem;
  margin: 1.08rem auto 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.footer .cont .list li {
  width: 3rem;
  padding-left: .52rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  color: #fff;
}

.footer .cont .list li img {
  position: absolute;
  left: 0;
  top: 0;
  width: .4rem;
  height: .4rem;
  -o-object-fit: contain;
  object-fit: contain;
}

.footer .cont .list .lang {
  width: 3.26rem;
}

.footer .cont .list li h5 {
  font-size: .16rem;
  color: #EFB336;
  line-height: .19rem;
}

.footer .cont .list li P {
  font-size: .16rem;
  line-height: .19rem;
  margin-top: .02rem;
}

.footer .cont .list li {
  margin-bottom: .4rem;
}

.common-section {
  text-align: center;
  position: relative;
}

.common-section h3 {
  position: absolute;
  top: .95rem;
  width: 100%;
  font-size: .4rem;
  line-height: .56rem;
}

.common-section p {
  position: absolute;
  top: 1.69rem;
  width: 100%;
  font-size: .2rem;
  line-height: .28rem;
}

.page-home .section1 {
  position: relative;
}

.page-home .section1 .center-container {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: .36rem;
  color: #FFFFFF;
  top: 12%;
  letter-spacing: 2px;
}

.page-home .section2 .img-text-layout {
  width: 100%;
}

.page-home .img-text {
  width: 50%;
  display: block;
}

.page-home .img-text-layout .cont {
  width: 50%;
  padding-left: .8rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page-home .img-right-layout .cont {
  width: 50%;
  padding-right: .8rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page-home .img-text-layout .cont .title {
  margin-top: 1.29rem;
  height: .6rem;
  font-size: 0;
  letter-spacing: 0;
}

.page-home .img-text-layout .cont .title img {
  width: .6rem;
  height: 100%;
  margin-right: .2rem;
  vertical-align: middle;
}

.page-home .img-right-layout .cont .title img {
  margin: 0 0 0 .2rem;
}

.page-home .img-text-layout .cont .title h4 {
  display: inline-block;
  font-size: .34rem;
  line-height: .6rem;
  color: #333333;
  vertical-align: middle;
}

.page-home .img-text-layout .cont .text {
  margin-top: .16rem;
  font-size: .2rem;
  line-height: .3rem;
}

.page-home .img-right-layout .cont .title,
.page-home .img-right-layout .cont .text {
  text-align: right;
}

.page-contact {
  height: 100%;
  background: url(../img/contact/bg.jpg) center;
  background-size: 100% 100%;
}

.page-contact .main {
  margin: 1rem auto 0;
  width: 12rem;
  background: #FFFFFF;
  border-radius: .08rem;
  padding: .8rem 0;
}

.page-contact .main > img {
  display: block;
  margin: 0 auto;
  width: 1.2rem;
}

.page-contact .main > p {
  font-size: .24rem;
  color: #000000;
  letter-spacing: 0;
  line-height: .29rem;
  margin-top: .2rem;
  text-align: center;
}

.page-contact .main > h4 {
  font-size: .4rem;
  font-weight: bold;
  color: #000000;
  letter-spacing: 0;
  margin-top: .8rem;
  line-height: .47rem;
  padding-left: 2.4rem;
}

.page-contact .main .list {
  padding-top: .6rem;
  padding-left: 2.4rem;
}

.page-contact .main .list li {
  width: 3.6rem;
  min-height: .68rem;
  float: left;
  padding-left: .88rem;
  position: relative;
  margin-bottom: .4rem;
}

.page-contact .main .list li img {
  position: absolute;
  left: 0;
  top: 0;
  width: .68rem;
}

.page-contact .main .list li h5,
.page-contact .main .list li p {
  font-size: .2rem;
  color: #000000;
  line-height: .3rem;
}

.page-contact .main .list li h5 {
  font-weight: bold;
}

.page-about .title {
  text-align: center;
  margin-top: 1.2rem;
  font-size: .3rem;
  font-weight: bold;
  line-height: .48rem;
  color: #000000;
  letter-spacing: 0;
}

.page-about .title img {
  margin-right: .2rem;
  width: 1.2rem;
  vertical-align: bottom;
}

.page-about .article {
  width: 12rem;
  margin: .76rem auto .32rem;
}

.page-about .article p {
  font-size: .2rem;
  color: #000000;
  letter-spacing: 0;
  line-height: .36rem;
  margin-bottom: .36rem;
}

.page-about .article p:last-child {
  margin-bottom: 0;
}

.page-about .map {
  background: #eee;
  padding: .17rem 0;
}

.page-about .map img {
  width: 8.40rem;
  margin: 0 auto;
  display: block;
}

.common-title {
  height: .44rem;
  line-height: .44rem;
  font-size: .4rem;
  padding-left: .16rem;
  position: relative;
}

.common-title:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: .06rem;
  height: 100%;
  background: #EFB336;
}

.page-technology .main {
  width: 12rem;
  margin: 0 auto;
}

.page-technology .main .common-title {
  margin: 1.6rem 0 .6rem;
}

.page-technology .main ul {
  padding-bottom: 1rem;
}

.page-technology .main ul li {
  position: relative;
  padding-top: .6rem;
  padding-left: 50%;
  height: 2.6rem;
}

.page-technology .main ul li img {
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.page-technology .main ul li h5 {
  padding-left: .2rem;
  font-size: .3rem;
  line-height: .36rem
					height: .36rem;
  color: #EFB336;
  margin-bottom: .2rem;
}

.page-technology .main ul li p {
  position: relative;
  margin-bottom: .06rem;
  padding-left: .32rem;
  font-size: .2rem;
  line-height: .24rem;
}

.page-technology .main ul li p:before {
  content: "";
  position: absolute;
  left: .2rem;
  top: .06rem;
  width: .08rem;
  height: .08rem;
  border-radius: 50%;
  background: #EFB336;
}

.page-technology .main ul .right {
  padding-left: 0;
  padding-right: 50%;
  text-align: right;
}

.page-technology .main ul .right img {
  left: 50%;
}

.page-technology .main ul .right h5 {
  padding-left: 0;
  padding-right: .2rem;
}

.page-technology .main ul .right p {
  padding-left: 0;
  padding-right: .32rem;
}

.page-technology .main ul .right p:before {
  right: .2rem;
  left: auto;
}

.page-technology .photos {
  position: relative;
}

.page-technology .photos > div {
  position: absolute;
  top: 0.02rem;
  width: 4.73rem;
  height: 6.31rem;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  transition: opacity .5s;
}

.page-technology .photos > div:hover {
  opacity: 1;
}

.page-technology .photos > div span {
  font-size: .36rem;
  line-height: .43rem;
  color: #fff;
  text-align: center;
}

.page-technology .photos .mask1 {
  left: 0;
}

.page-technology .photos .mask2 {
  left: 4.77rem;
  width: 4.72rem;
  height: 3.13rem;
}

.page-technology .photos .mask3 {
  top: 3.2rem;
  left: 4.77rem;
  width: 4.72rem;
  height: 3.12rem;
}

.page-technology .photos .mask4 {
  right: 0;
  width: 9.5rem;
}

.page-product .banner {
  position: relative;
}

.page-product .banner p {
  position: absolute;
  left: 3.86rem;
  top: .7rem;
  font-size: .5rem;
  line-height: .7rem;
  color: #fff;
}

.page-product .main {
  width: 12rem;
  margin: 0 auto;
  padding-bottom: 1.2rem;
}

.page-product .main .common-title {
  margin: 1.6rem 0 .6rem;
}

.page-product .main .introduction {
  position: relative;
}

.page-product .main .introduction ul {
  width: 4.3rem;
  height: 3.8rem;
  padding-top: .65rem;
  box-sizing: border-box;
  margin-bottom: 1.18rem;
}

.page-product .main .introduction ul li {
  float: left;
  width: 1.87rem;
  height: .6rem;
  margin-bottom: .2rem;
  position: relative;
}

.page-product .main .introduction ul li:nth-child(odd) {
  width: 2.04rem;
}

.page-product .main .introduction ul li img {
  position: absolute;
  left: 0;
  top: 0;
  width: .6rem;
  height: .6rem;
}

.page-product .main .introduction ul li p {
  padding-left: .7rem;
  padding-top: .12rem;
  font-size: .2rem;
  line-height: .24rem;
}

.page-product .main .introduction .car {
  position: absolute;
  right: 0;
  top: 0;
  width: 7.66rem;
  height: 3.8rem;
}

.page-product .main .parts {
  margin: .53rem 0 1.53rem;
}

.page-product .main .parts li {
  margin-right: .13rem;
  float: left;
  border-radius: .08rem;
  box-shadow: 0 0 0.07rem #999;
  width: 3.88rem;
}

.page-product .main .parts li:last-child {
  margin-right: 0;
}

.page-product .main .parts li img {
  display: block;
  width: 100%;
  border-top-left-radius: 0.08rem;
  border-top-right-radius: 0.08rem;
}

.page-product .main .parts li P {
  font-size: .22rem;
  line-height: .6rem;
  height: .6rem;
  text-align: center;
}

.c03 .banner p {
  position: absolute;
  top: 4.3rem;
  font-size: .5rem;
  line-height: .7rem;
  color: #333;
  right: 4.2rem;
  left: auto;
}

.page-factory .swiper-container {
  width: 100%;
  height: 10.8rem;
}

.page-factory .swiper-container img {
  display: block;
  width: 100%;
  height: 100%;
}

.page-factory .swiper-pagination {
  bottom: 60px;
}

.page-factory .swiper-button-prev {
  left: 80px;
}

.page-factory .swiper-button-next {
  right: 80px;
}