<div class="nav">
    <div class="clearfix" id="nav-container">
        <a class="logo" href="index.html"><img src="../../img/home/logo.png" alt=""></a>
        <a class="page" href="index.html">HOME<i></i></a>
        <a class="page" href="about.html">About Yunwai<i></i></a>
        <a class="page" href="c02.html">C02<i></i></a>
        <a class="page" href="c03.html">C03<i></i></a>
        <a class="page" href="factory.html">Factory<i></i></a>
        <a class="page" href="technology.html">Technology<i></i></a>
        <a class="page" href="contact.html">Contact Us<i></i></a>
    </div>
</div>
<script>
    var aList = document.getElementById('nav-container').getElementsByTagName('a')
    aList[currentPage].className += ' active'
</script>
