@import "style-common.less";
// @import "style-nav.less";
@import "style-footer.less";
.section1 {
	position: relative;
}

.section1 .center-container {
	position: absolute;
	width: 600px;
	text-align: right;
	font-size: .36rem;
	color: #FFFFFF;
	right: 50%;
	top: 82%;
	margin-right: .3rem;
	letter-spacing: 2px;
}

.section2 .img-text-layout {
	width: 100%;
}

.img-text {
	width: 50%;
	display: block;
}

.img-text-layout .cont {
	width: 50%;
	padding-left: .8rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.img-right-layout .cont {
	width: 50%;
	padding-right: .8rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.img-text-layout .cont .title {
	margin-top: 1.29rem;
	height: .6rem;
	font-size: 0;
	letter-spacing: 0;
}

.img-text-layout .cont .title img {
	width: .6rem;
	height: 100%;
	margin-right: .2rem;
	vertical-align: middle
}

.img-right-layout .cont .title img {
	margin: 0 0 0 .2rem;
}

.img-text-layout .cont .title h4 {
	display: inline-block;
	font-size: .34rem;
	line-height: .6rem;
	color: #333333;
	vertical-align: middle
}

.img-text-layout .cont .text {
	margin-top: .16rem;
	font-size: .2rem;
	line-height: .3rem;
}

.img-right-layout .cont .title,
.img-right-layout .cont .text {
	text-align: right;
}

.section3 {
	text-align: center;
}

.section3 img {
	display: block;
	width: 100%;
}

.section3 h3 {
	width: 11rem;
	margin: .95rem auto .18rem;
	font-size: .4rem;
	line-height: .56rem;
}

.section3 p {
	width: 11rem;
	font-size: .2rem;
	line-height: .28rem;
	margin: 0 auto;
}

