<div class="nav">
	<div class="clearfix" id="nav-container">
		<a class="logo" href="index.html"><img src="../img/home/logo.png" alt=""></a>
		<a class="page nav-home" href="index.html">HOME<i></i></a>
		<a class="page nav-about" href="about.html">About Yunwai<i></i></a>
		<a class="page nav-solar" href="solar.html">Solar Lights<i></i></a>
		<a class="page nav-c02" href="c02.html">C02<i></i></a>
		<a class="page nav-c03" href="c03.html">C03<i></i></a>
		<a class="page nav-factory" href="factory.html">Factory<i></i></a>
		<a class="page nav-technology" href="technology.html">Technology<i></i></a>
		<a class="page nav-contact" href="contact.html">Contact Us<i></i></a>
	</div>
</div>
<script>
	var currentEle = document.getElementById('nav-container').getElementsByClassName(currentClassName)[0]
	currentEle.className += ' active'
</script>
